[smtp]
server = "smtp.example.com"
port = "587"
identity = ""
username = "your-email@example.com"
password = "YOUR_SMTP_PASSWORD"
from_address = "your-email@example.com"
from_name = "Your Name"

otherSetting = "value"